@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css.map");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.min.css.map");

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap-grid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://fonts.gstatic.com");


@import url("style-menus.css");
@import url('style-footer.css');

  

:root {
  --color-default: #0a0d13;
  --color-primary: #0d42ff;
  --color-secondary: #0e1d34;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}



body {

  font-size: 15px;
  font-family: Roboto, "Open Sans", sans-serif;
  color: var(--color-text);
  scrollbar-width: none;

    
}

body.userSession,
.userSession {
  background-image: linear-gradient(to bottom,
  #4a443b,
  #564e33,
  #5a592c,
  #586726,
  #4d7524,
  #537e22,
  #598720,
  #60901c,
  #839414,
  #a49617,
  #c39825,
  #e19839) !important;

}

a {
  color: #1977cc;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active, a:focus {
  color: #f14766;
  font-weight: 600;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, "Open sans", Helvetica, Arial;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}


.overlays {

  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19923 !important;
  padding: 58px 20px 50px;
  overflow-x: hidden;
  scrollbar-width: none;

  background-color: rgba(46, 44, 44, 0.7);
  background-image: url("../../public/logos/e_securite.gif");
  background-repeat: no-repeat;
  background-size: calc(20%);
  background-position: center center;
  transition: opacity 500ms; 
  opacity: 1;
  -webkit-overflow-scrolling: touch;

}

.overlays .textOverlays {
  width: 50% !important;
  padding: 20px 25px;
  margin: 20px auto !important;
  height: 20vh !important;
  position: relative;
  top: 60%;
  text-align: center;
  text-justify: auto;
  font-size: 130%;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 0 5px rgb(255, 255, 255), 
            0 0 10px rgb(255, 255, 255), 
            0 0 15px rgb(255, 255, 255), 
            0 0 10px rgb(255, 17, 119), 
            0 0 35px rgb(255, 17, 119), 
            0 0 20px rgb(255, 17, 119), 
            0 0 30px rgb(255, 17, 119), 
            0 0 55px rgb(255, 17, 119);
  
  animation: clignotant 2s linear infinite;

}


.button-header {

  color: #fff;
  background: #1977cc;
  padding: 4px 7px !important;
  margin: 0 0 0 15px;
  border-radius: 50px;
  border: 2px solid #1977cc;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  line-height: 1;
  font-size: inherit;
  white-space: nowrap;
}

.button-header:hover {
  background: none;
  color: #fff;
}

.button-header:focus {
  color: #fff;
}

.button-header i {

  font-size: 22px;
  color: #fff;
  line-height: 0;
  margin-right: 7px;
  margin-left: -4px !important;
}

@media (max-width: 992px) {
  .button-header {
    margin: 0 15px 0 0;
  }

  .overlays {
    background-size: calc(40%);  
  }
  
  .overlays .textOverlays {
    width: 100% !important;
    max-width: fit-content;
    padding: 10px 10px 20px;
    height: 20vh !important;
    max-height: max-content;
    font-size: 130%;
    top: 52%;
    background-color: transparent !important;
  
  }

}



.back_cover {

  top: 74px;
  right: 0;
  left: 0;
  height: 92vh;
  /*background-image: url("../images/bakground.jpg");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px 15px;

}

.back_cover .exercice,
.exercice {

  width: var(--wid-95);
  padding: 10px 15px;
  padding-left: 40px;
  margin: -17px auto 0;
  background-color: #abedd3;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;

}

.back_cover .exercice:hover,
.exercice:hover {
  text-transform: uppercase !important;
  font-size: 130%;
  color: #4a2b83;
  background: rgba(9, 118, 31, 0.54);
  text-shadow: 0 0 5px rgb(255, 255, 255), 
            0 0 10px rgb(255, 255, 255), 
            0 0 15px rgb(255, 255, 255), 
            0 0 20px rgb(255, 17, 119), 
            0 0 35px rgb(255, 17, 119), 
            0 0 40px rgb(255, 17, 119), 
            0 0 50px rgb(255, 17, 119), 
            0 0 75px rgb(255, 17, 119);
}

.back_cover .exercice::before,
.exercice::before {
  content: '';
  height: 30px;
  width: 30px;
  margin-left: -35px;
  background-color: #0bb006;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1fb01a;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px black;
  animation: clignotant 4s linear infinite;

}

@keyframes clignotant {
  50% {opacity: 0;}
}



@media only screen and (max-width: 768px) {
  
  .overlays {
    background-size: calc(30%);  
  }
  
  .overlays .textOverlays {
    width: 100% !important;
    max-width: fit-content;
    padding: 10px 10px 20px;
    height: 20vh !important;
    max-height: max-content;
    font-size: 130%;
    top: 60%;
    background-color: transparent !important;
  
  }
}


@media only screen and (max-width : 576px) {
  .overlays {
    background-size: calc(40%);  
  }
  
  .overlays .textOverlays {
    width: 100% !important;
    max-width: fit-content;
    padding: 10px 10px 20px;
    height: 20vh !important;
    max-height: max-content;
    font-size: 130%;
    top: 52%;
    background-color: transparent !important;
  
  }

}

@keyframes animate { 
  0% { 
      background-position: 0%; 
  } 
  100% { background-position: 400%; } 
}


.back_cover .cover_content {

  height: var(--hgt-95);
  padding: 0 7px;
  margin: 7px auto 10px;
  color: var(--color-text);
  background-color: rgba(6, 5, 5, 0.3);
  box-shadow: 0 8px 6px -6px black;
}